body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  /* background-color: #f8f8ff; */
}

.headerImg{
  margin-top: 5px;
  width: 175px;
}

#muse {
  color:#89cff0; 
  border-bottom: 4px solid black;
}

h1 {
  /* color: #89cff0; */
  top: 10%;
  left: 47%;
}

a:hover {
  color: white;
  background-color: #89cff0;
  padding: 3px;
}

a:visited {
  text-decoration: none;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 25px;
}

li {
  list-style-type: none;
}

.artist {
  margin-bottom: -1px;
}

.song {
  padding-right: 5px;
}

.price {
  padding-left: 5px;
}
.songNPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.album-art {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  padding: 7px;
}

/* CONTACT FORM  */

.contactForm {
  margin-top: 5%;
  width: 65%;
  display: grid;
  margin-left: 20%;
}
.cfField {
  display: block;
  padding: 10px;
}

.cfText {
  font-weight: 800;
  float: left;
}

.cfInput {
  width: 65%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid grey;
}

#cfButton {
  margin-left: 50%;
  width: 45px;
}

/* BLOG */

#featuredBP {
  grid-area: featured;
}

#popularBP {
  grid-area: popular;
}

#recentBP {
  grid-area: recent;
}

.blog {
  display: grid;
  grid-template-areas: 'featured featured featured popular'
  'featured featured featured popular'
  'recent recent recent popular';
  grid-gap: 15px;
  margin: 0 10% 0 10%;
}
